:root {
	--clr--bg: 220 43% 97%;
	--clr-white: 223 47% 97%;

	--clr-black: 0 0% 20%;
	--clr-dark: 231 42% 28%;
	--clr-accent1: 230 34% 46%;
	--clr-accent2: 133 46% 71%;
	--clr-accent3: 360 81% 85%;

	--fs-700: 3.1rem;
	--fs-400: 1.6rem;
	--fs-200: 1.4rem;

	/* font-families */

	--ff-sans-cond: "Inter", sans-serif;
	--ff-sans-normal: "Karla", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* set up the body */
body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hsl(var(--clr-dark));
	background-color: hsl(var(--clr-black));
	line-height: 1.2;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	/* grid-template-rows: min-content 1fr; */

	overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

hr {
	border: 1px solid hsl(var(--clr-dark) / 0.2);
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

/* .flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
} */

.flow--space-small {
	--flow-space: 0.75rem;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

/* colors */

.bg-dark {
	background-color: hsl(var(--clr-dark));
}
.bg-accent {
	background-color: hsl(var(--clr-accent1));
}
.bg-accent2 {
	background-color: hsl(var(--clr-accent2));
}
.bg-accent3 {
	background-color: hsl(var(--clr-accent2));
}
.bg-white {
	background-color: hsl(var(--clr-white));
}

.text-accent {
	color: hsl(var(--clr-dark));
}
.text-white {
	color: hsl(var(--clr-white));
}

/* typography */

.ff-sans-cond {
	font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.fs-700 {
	font-size: var(--fs-700);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-200 {
	font-size: var(--fs-200);
}

.fs-700,
.fs-400 {
	line-height: 1.1;
}

.wrapper {
	min-height: 55rem;
	aspect-ratio: 1;
	position: relative;
	/* outline: 1px solid black; */
	justify-content: center;
	align-items: center;
}

/* -------------------BTNS--------------------- */
.btn:link,
.btn:visited {
	display: inline-block;
	place-items: center;
	border-radius: 15px;
	text-decoration: none;
	font-size: var(--ff-sans-cond);
	font-weight: 500;
}
.btn:active,
.btn:hover {
	cursor: pointer;
}
.btn--full {
	padding: 1.6rem 4.8rem;
	background-color: hsl(var(--clr-accent1));
	color: hsl(var(--clr-white));
	margin-top: 2.9rem;
}
.btn--option {
	background-color: transparent;
	border-radius: 8px;
	border: 0.7px solid hsl(var(--clr-accent1) / 0.2);
	padding: 0.4rem 1.6rem;
	color: hsl(var(--clr-accent1) / 1);
}
.btn--checked {
	background-color: hsl(var(--clr-accent1) / 0.2);
}
.btn--check-answer,
.btn--play {
	padding: 1rem 3.8rem;
	background-color: hsl(var(--clr-accent1));
	color: hsl(var(--clr-white));
	justify-self: center;
	border-radius: 10px;
	border: none;
	/* margin-top: 2.9rem; */
}

.btn--correct {
	background-color: hsl(var(--clr-accent2));
}
.btn--wrong {
	background-color: hsl(var(--clr-accent3));
}
/* -------------------HOME--------------------- */

.wrapper {
	position: relative;
}
.wrapper::before {
	position: absolute;
	right: 0;
	top: 0;
}
.wrapper::after {
	position: absolute;
	left: 0;
	bottom: 0;
}
.wrapper-home::before {
	content: url(./blob\ 5-1.png);
}
.wrapper-home::after {
	content: url(./blob\ 5.png);
}

.home {
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

/* -------------------CHECK--------------------- */

.wrapper-check::before,
.wrapper-answers::before {
	content: url(./blob\ 6-1.png);
}
.wrapper-check::after,
.wrapper-answers::after {
	content: url(./blob\ 6.png);
}
.wrapper-check,
.wrapper-answers {
	grid-template-columns: minmax(15%, 1fr) 70% minmax(15%, 1fr);
}
.check {
	grid-column: 2;
	--gap: min(2vw, 4rem);
}
.check > p {
	font-weight: 700;
}
.box {
	--gap: min(3vw, 1.5rem);
}
.answers {
	justify-content: flex-start;
	--gap: min(3vw, 2rem);
}

/* -------------------ANSWERS--------------------- */

.results {
	align-items: center;
}
.wrapper-answers .answers > button:not(.btn--correct) {
	opacity: 0.5;
}
